* {
    box-sizing: border-box;
}

html {
    font-family: 'Josefin Sans', sans-serif;
    background-color: #314678;
}

.contenedor {
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}

.lateral {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    width: 350px;
    background-color: #061539;
    padding: 1em;
    margin:1px

}

.Principal {
    display: table;
    padding: 2px;
    height: calc(110vh - 5px) !important;
    margin-left: 23%;
    width: 77%;
    border-style:groove;
    border-color: #061539;
}

body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-thumb {
    background: #0f2737;
}


.perfil__circulo {
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    margin: 0;
}

.perfil__foto {
    width: 100%;
}

.perfil__nombre {
    color: white;
    font-size: 20px;
    width: 250pX;
    margin-left: .5em;

}

.perfil__nombre,
.perfil__circulo {
    display: inline-block;
    vertical-align: middle;
}

.informacion {
    color: #8A99BB;
    position: absolute;
    bottom: 1em;

}

.informacion__titulo {
    font-size: 18px;
}

.habilidades {
    padding: 0;
}

.habilidad {
    background-color: #182C5B;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;
}

.habilidad_proyecto {
    background-color: #182C5B;
    color: white;
    font-size: 12px;
    display: inline-block;
    padding: .5em;
    text-transform: uppercase;
    margin: 0;
}

.proyectos {
    margin-left: 0px;
    padding: 1em;
    display: table;

}

.proyecto {
    display: table-cell;
    width: 50%;
    padding: 1em;
    border-style: dashed;
}

.proyecto__imagen {
    width: 100%;
    height: 300px auto;
}

.proyecto__titulo {
    color: #0e1934;
    font-size: 20px;
}

.proyecto__descripcion {
    color: #8A99BB;
    font-size: 18px;

}

@media screen and (max-width:500px) {
    .lateral{
        width: 100%;
        height: 100%;
        position: relative;
        border-right: 8px solid #29597c;
    }

    .informacion{
        position: relative;
    }

    .proyectos{
        margin-left: 0;
        width: 100%;
    }

    .Principal{
        margin-left: 0%;
        width: 100%;
        border: none;
    }
}



@media screen and (max-width:400px) {
    .lateral{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .perfil__nombres{
        position: relative;
    }

    .informacion{
        position: relative;
    }

    .proyectos{
        margin-left: 0;
        width: 100%;
    }

    .proyecto{
        width: 100%;
        display: block;
        border: none;
    }
}

@media screen and (max-width:300px) {
    .lateral{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .perfil__nombres{
        position: relative;
    }

    .informacion{
        position: relative;
    }

    .proyectos{
        margin-left: 0;
        width: 100%;
    }

    .proyecto{
        width: 100%;
        display: block;
        border: none;
    }
}

@media screen and (max-height:500px) {
    .lateral{
        width: 100%;
        height: 100%;
        position: relative;
        border-right: 8px solid #29597c;
    }

    .informacion{
        position: relative;
    }

    .proyectos{
        margin-left: 0;
        width: 100%;
    }

    .Principal{
        margin-left: 0%;
        width: 100%;
        border: none;
    }
    .proyecto{
        width: 45%;
        display: inline-block;
        border: none;
        margin: 0%;
    }
}

@media screen and (max-height:300px) {
    .lateral{
        width: 100%;
        height: 100%;
        position: relative;
    }

    .perfil__nombres{
        position: relative;
    }

    .informacion{
        position: relative;
    }

    .proyectos{
        margin-left: 0;
        width: 100%;
    }

    .proyecto{
        width: 45%;
        display: inline-block;
        border: none;
        margin: 0%;
    }
}